p{
  background-color: red;
}

p{
  /*override identical above rule because read top-to-bottom*/
  background-color: green;
}

div p{
  /*Target all p elements inside divs, not necessarily direct descendants*/
  background-color: blue;
}

div > p{
  /*Target all p elements that are direct children of divs*/
  background-color: red;
}

div + span {
  */Target first p after every div (not within the div!)*/
  background-color: black;
  color: white;
}

div ~ p {
  /*Target all p after div with some parent as the said div rarely used)*/
  background-color: purple;
}

p#paraID{
  /*Most specific*/
  background-color: blue;
  color: white;
  margin-top: 20px;
  margin-right: 60px;
  margin-bottom: 10%;
  margin-left: 25%;
  padding: 16px;
  border: black 3px solid;
}

p.para{
  /*More specific*/
  background-color: orange;
}

p{
  background-color: green;
}
